html, body {
    padding: 0px;
    margin: 0px;
    font-family: "pixel";
    font-weight: bolder;
    background-color: black;
}

canvas {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

p {
    display: inline-flex;
    margin: 0px;
    line-height: 24px;
}

.controls {
    width: 512px;
    height: 128px;
    background-color: rgba(30, 30, 30, 0.5);
    box-shadow: 4px 4px rgba(30, 30, 30, 0.75);
    position: absolute;
    bottom: 32px;
    left: 32px;
}

input {
    position: absolute;
    font-family: "pixel";
    font-weight: bolder;
    border: solid 2px white;
    background-color: white;
    color: black;
    border-radius: 0px;
    outline: none;
    height: 16px;
    line-height: 16px;
    padding: 2px 4px;
    text-align: center;
    box-shadow: 4px 4px #c6c6c6;
}

input:hover, input[type="number"]:focus {
    box-shadow: 0px 0px #c6c6c6;
    margin-top: 4px;
    margin-left: 4px;
}

input[type="button"] {
    cursor: pointer;
    width: 64px;
    height: 24px;
}

input[type="number"] {
    width: 52px; /* 64px due to padding + border */
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

#ms-per-frame-num {
    left: 16px;
    bottom: 16px;
}

#update-btn {
    right: 16px;
    bottom: 16px;
}